 main{
  min-height: 80vh;
 }

/* 全局样式重置 */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* 可能还需要确保容器没有额外的边距或内边距 */
.container {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

 

 
  
  
   
  
  
  